.container {
    display: flex;  /* Flexbox für nebeneinander anordnen */
    justify-content: space-between;  /* Abstand zwischen Karte und Legende */
    width: 100%;  /* Volle Breite */
    height: 100vh;  /* Volle Höhe des Viewports */
}

#map {
    flex-grow: 1;  /* Karte nimmt verfügbaren Platz ein */
    height: 80vh;  /* Karte nimmt 80% der Höhe ein */
    border: 2px solid #ccc;  /* Optionaler Rahmen */
}

.legend {
    width: 25%;  /* Legende nimmt 25% der Breite ein */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    height: 80vh; /* Höhe der Legende */
    overflow-y: auto;  /* Wenn die Legende zu lang wird, kann sie scrollen */
}
