body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;  /* Elemente nebeneinander anordnen */
    justify-content: flex-start; /* Linksbündig ausrichten */
    height: 100vh; /* Höhe des Viewports */
}

#map {
    width: 100px; /* Feste Breite für die Karte */
    height: 100px; /* Feste Höhe für die Karte */
    border: 2px solid #ccc;
    max-width: 100%;  /* Damit die Karte nicht zu groß wird, falls der Bildschirm kleiner ist */
}

.legend {
    width: 25%;  /* Legende nimmt 25% der Breite ein */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    height: 100vh; /* Höhe der Legende */
    overflow-y: auto;  /* Wenn die Legende zu lang wird, kann sie scrollen */
}


